* {
    width : 100%;
    font-family : "SciFly-Sans";
}

@font-face {
    font-family : "SciFly-Sans";
    src : url('../font/SciFly-Sans.ttf') format("truetype");
}

#envoyer:hover{
    box-shadow : 0 5px 15px rgba(0,0,0,0.3);
    text-shadow : 0 5px 15px rgba(0,0,0,0.3);
}

.col-6{
    margin-top : 15%;
}

#logo{
    margin-bottom: 5%;
}

html{
    height: 100%;
}

body{
    height: 100%;
}

.FieldColor{
    color : #00A6CE;
}